<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GOAL - User Management</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/static/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/static/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    .t-ctn {
        width: 100%;
        overflow-x: auto;
    }

    .t-ctn .s-ctn {
        height: 120px;
        white-space: nowrap;
        font-size: 0;
    }

    .t-ctn .s-ctn div {
        font-size: 25px;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        display: inline-block;
        width: 200px;
        height: 100%;
        border: 10px;
    }
    .zhezhao{
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }
    .dialog{
        position: relative;
        background: #fff;
        width: 50%;
        height: 80%;
        border-radius: 5px;
        margin: 5% auto;
    }
    .dialog .dialog2{
        position: relative;
        background: #fff;
        width: 61%;
        height: 80%;
        border-radius: 5px;
        margin: 5% auto;
    }
    #header{
        height: 40px;
    }
    #header-right{
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background: red;
        color: #fff;
        right: 5px;
        top: 5px;
        text-align: center;
    }

</style>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/com/homePage}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - 首页 -->
        <li class="nav-item ">
            <a class="nav-link" th:href="@{/com/homePage}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首页</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            M E S S I 1 0
        </div>

        <!-- Nav Item - 比赛 -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/com/showAllContest}">
                <i class="fas fa-fw fa-table"></i>
                <span>比赛</span></a>
        </li>

        <!-- Nav Item - 数据 Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>数据</span></a>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">M E S S I 1 0</h6>
                    <a class="collapse-item" th:href="@{/team/showAllTeamData}">球队</a>
                    <a class="collapse-item" th:href="@{/player/showAllPlayerData}">球员</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 管理 Menu -->
        <li shiro:hasAnyRoles="superadmin,admin" class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-cog"></i>
                <span>管理</span>
            </a>
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">M E S S I 1 0</h6>
                    <a class="collapse-item active" th:href="@{/user/userManagement}">用户管理</a>
                    <a shiro:hasAllRoles="superadmin,admin" class="collapse-item" th:href="@{/perm/permManagement}">权限管理</a>
                    <a class="collapse-item" th:href="@{/news/newsManagement}">新闻管理</a>
                    <a shiro:hasAllRoles="superadmin,admin" class="collapse-item" th:href="@{/team/teamManagement}">球队管理</a>
                    <a shiro:hasAllRoles="superadmin,admin" class="collapse-item" th:href="@{/player/playerManagement}">球员管理</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 我的 Menu -->
        <li shiro:hasAnyRoles="superadmin,admin,journalist,user" class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>我的</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">M E S S I 1 0</h6>
                    <a class="collapse-item" th:href="@{/user/attention}">关注</a>
                    <a class="collapse-item" th:href="@{/user/information}">资料</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 日志 -->
        <li shiro:hasAllRoles="superadmin,admin" class="nav-item">
            <a class="nav-link" th:href="@{/user/selectRecord}">
                <i class="fas fa-fw fa-folder"></i>
                <span>日志</span></a>
        </li>

        <!-- Nav Item - 编辑 -->
        <li shiro:hasRole="journalist" class="nav-item">
            <a class="nav-link" th:href="@{/user/edit}">
                <i class="fas fa-fw fa-folder"></i>
                <span>编辑</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="/static/img/undraw_profile_1.svg"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="/static/img/undraw_profile_2.svg"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="/static/img/undraw_profile_3.svg"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="/static/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-1 text-gray-800">
                    用户管理
                </h1>
                <p class="mb-4">
                    对用户信息及角色管理
                </p>

                <!-- table -->
                <table width="90%" class="table">
                    <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            用户名
                        </th>
                        <th>
                            邮箱
                        </th>
                        <th>
                            注册时间
                        </th>
                        <th>
                            角色名
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tr th:each="userInfo : ${allUserInfoList}">
                        <td th:text="2"></td>
                        <td>
                            <span>
                                <img src="../static/img/logo/user.png">
                            </span>
                            <span th:text="${userInfo.name}">
                            </span>
                        </td>
                        <input th:type="hidden" th:value="${userInfo.name}"/>
                        <td th:text="${userInfo.email}" th:id="${userInfo.email}"></td>
                        <input th:type="hidden" th:value="${userInfo.email}"/>
                        <td th:text="${userInfo.createTime}"></td>
                        <input th:type="hidden" th:value="${userInfo.createTime}"/>
                        <p th:each="role : ${userInfo.data}">
                            <td th:text="${role.name}"></td>
                            <input th:type="hidden" th:value="${role.name}"/>
                        </p>
                        <td>
                            <a href="#" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text">修改</span>
                                <input th:type="hidden" th:value="修改"/>
                            </a>
                            <a href="#" class="btn btn-danger btn-icon-split" >
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">删除</span>
                                <input th:type="hidden" th:value="删除"/>
                            </a>
                        </td>
                    </tr>
                </table>

            </div>
            <!-- End of Begin Page Content -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<div class="zhezhao" id='zhezhao'>
    <div class="dialog">
        <div id="header">
            <div id="header-right" onclick=hide()>x</div>
        </div>
        <div class="dialog2">
            <form class="user" th:action="@{/user/updateUserInfo}" th:method="post">
                <div class="form-group">
                    用户名：<input class="form-control form-control-user" id="userName" name="userName">
                </div>
                <div class="form-group">
                    邮箱：<input type="email" class="form-control form-control-user" id="userEmail" name="userEmail">
                </div>
                <div class="form-group">
                    注册时间：<input class="form-control form-control-user" id="userTime" name="userTime">
                </div>
                <div class="form-group">
                    角色：<input class="form-control form-control-user" id="roleName" name="roleName">
                </div>
                <input type="submit" value="修改" class="btn btn-primary btn-user btn-block">
                <input type="button" value="取消" class="btn btn-danger btn-user btn-block" onclick=hide()>
            </form>

        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">准备离开了吗?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">如果您准备结束当前会话，请选择下面的'退出'</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" th:href="@{/com/logout}">退出</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/static/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/static/js/sb-admin-2.min.js}"></script>

<script type="text/javascript">
    document.getElementById('zhezhao').style.display="none";
    var len = $('table tr').length;

    $(document).ready(function(){
        for(var i = 1;i<len;i++){
            $("tr").eq(i).children().first().text(i);
        }

        $(".text").click(function(){
            if($(this).siblings("input").val()=="删除"){
                window.location.href = "/user/deleteUserInfo?email="+$(this).parent().parent("td").siblings("input").eq(1).val();
            }else{
                $("#userName").val($(this).parent().parent("td").siblings("input").eq(0).val());
                $("#userEmail").val($(this).parent().parent("td").siblings("input").eq(1).val());
                $("#userTime").val($(this).parent().parent("td").siblings("input").eq(2).val());
                $("#roleName").val($(this).parent().parent("td").siblings("input").eq(3).val());
                document.getElementById('zhezhao').style.display="";
            }

        });

    });


    function hide(){
        document.getElementById('zhezhao').style.display="none";
    }

</script>

</body>

</html>