<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wang.goal.mapper.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <result property="id"    column="ID"    />
        <result property="title"    column="TITLE"    />
        <result property="authorId"    column="AUTHOR_ID"    />
        <result property="publishTime"    column="PUBLISH_TIME"    />
        <result property="content"    column="CONTENT"    />
    </resultMap>

    <select id="selectAllNews" resultMap="NewsResult">
        SELECT ID,TITLE,AUTHOR_ID,PUBLISH_TIME,CONTENT FROM tbl_news
    </select>

    <select id="selectAllPermInfo" resultMap="NewsResult">
        SELECT tn.ID ID,tn.TITLE TITLE,tu.NAME AUTHOR_ID,SUBSTR(tn.PUBLISH_TIME FROM 1 FOR 19) PUBLISH_TIME FROM tbl_news tn LEFT JOIN tbl_user tu ON tn.AUTHOR_ID=tu.ID
    </select>

    <update id="updateNewsInfo">
        UPDATE tbl_news tn
        SET tn.TITLE=#{title},tn.AUTHOR_ID=(SELECT ID FROM tbl_user WHERE NAME=#{name}),tn.PUBLISH_TIME=#{publishTime}
        WHERE tn.ID=#{id}
    </update>

    <delete id="deleteNewsInfo">
        delete from tbl_news where ID = #{id}
    </delete>

</mapper>